#logo-image {
    width: 40px;
    height: 40px;
}

#userImage {
    width: 300px;
    height: 300px;
    margin-left:30px;
    margin-top: 10px;
}

#userDescriptiton {
    height: 110px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#contents {
    margin-top: 5px;
    margin-right: 10px;
}

#userNameInput{
    margin-top: 5px;
}

#btnSubmit{
    width: 100%;
}
#thirdTitle{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}